.testimonials-section {
  background-color: var(--light-gray);
  color: var(--dark-blue);
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.testimonials-title {
  padding: 1rem;
  color: var(--dark-blue);
}

.testimonial-card {
  background-color: var(--white);
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.testimonial-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}


.testimonial-image {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  object-fit: cover;
}

.testimonial-name {
  @apply mt-3 mb-2 text-lg font-semibold text-[#e63946] transition duration-300;
}

.testimonial-text {
  @apply text-sm leading-relaxed transition duration-300;
}

/* Responsive Design */
@media (max-width: 768px) {
  .testimonials-section {
    padding: 1rem;
  }
  .discover-section-grid{
    grid-template-columns: 1fr;
  }
}

