.video-gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  padding: 20px;
  background-color: #f4f4f4; /* Light gray background */
  border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 1200px; /* Adjust as needed */
    margin-left: auto;
    margin-right: auto;

}

.video-gallery-container .video-player-container {
  width: 100%;
  background-color: #fff; /* White background for each video */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Ensure content within the container respects the rounded corners */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition for hover effects */
}

.video-gallery-container .video-player-container:hover {
  transform: translateY(-5px); /* Slight lift effect on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Enhanced shadow on hover */
}

